#symfony2
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/

#other
.idea/*
.buildpath
.project
.settings
.DS_Store

#docker
.env

#phpunit
.phpunit.result.cache