#symfony2
/web/bundles/
/var/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/bin/

#other
.idea/*
.buildpath
.project
.settings
.DS_Store

#docker
.env

#phpunit
.phpunit.result.cache